@import './reset';

@import './colors';

@font-face {
    font-family: 'laymoon-zap';
    src: url(./fonts/T0015M.TTF) format('truetype');
}

@font-face {
    font-family: 'laymoon-rich';
    src: url(./fonts/RichDF.ttf) format('truetype');
}

@font-face {
    font-family: 'laymoon-global';
    src: url(./fonts/MPLUS1p-Regular.ttf) format('truetype');
}

@import './mdb.min';

@import './flexslider';


.laymoon-zap {
    font-family: 'laymoon-zap';
}

$lymoon-fg:#005128;
$lymoon-bg:#afca05;

.lymoon-bg-dark {
    background: $lymoon-fg;
}

.lymoon-bg-light {
    background: $lymoon-bg;
}



$lymoon-nav-height:100px;

* {
    font-family: 'laymoon-global';
    font-weight: 600;

}

.lymoon-justify {
    text-align: justify;
    text-justify: inter-word;
    -moz-text-align-last: center;
    text-align-last: center;
}

footer a {
    color: rgb(50, 62, 71);
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'laymoon-global';
}

header {
    position: relative;
    margin: 0 0 0 0;
    width: 100%;
    height: 100vh;
    background-color: green;

    .lymoon-nav {
        position: absolute;
        z-index: 9999;
        top: 15px;
        width: 100%;
        height: $lymoon-nav-height;
        //background: rgba(#fff, 0.3);

    }

    .slider {
        position: absolute;
        z-index: 3000;
        top: 0;
        width: 100%;
        margin: 0 0 0 0;
        background-color: white;
        min-height: 100%;
        //overflow: hidden;
    }

    .custom-controls-container {
        .flex-control-nav {
            bottom: 20px;
            right: 0;
            z-index: 1000;
        }
    }
}

::-webkit-scrollbar {
    width: 7px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: $lymoon-bg;
    border-radius: 14px;
}

* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

@import './carousel';
@import './bg_par';


.lymoon-product-slider-section {
    @extend .text-center;
    background-color: rgb(211, 211, 211);

    h2.lpsc {
        @extend .bg-white;
        @extend .m-0;
        @extend .pt-5;
        @extend .pb-5;
    }

}

.lymoon-product-slider {
    margin: 0;
    width: 100%;
    height: 400px;
    background: transparent;
    position: relative;
    z-index: 800;
    overflow: hidden;
    background: white;

    &::after {

        position: absolute;
        z-index: -1;
        /* to be below the parent element */
        margin: auto auto auto auto;
        padding: 0 0 0 0;
        top: 0;
        left: 0;
        right: 0;
        content: '';
        display: inline-block;
        transform: translate(-40vw, 0%);
        background-color: rgb(211, 211, 211);
        margin-top: 80px;


        display: inline-block;

        height: 120vw;
        width: 180vw;
        border-top-left-radius: 180vw;
        border-top-right-radius: 180vw;

    }

    /* Next & previous buttons 
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: 30px;
        height: 30px;
        margin: 80px;
        padding: 5px;
        color: black;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        user-select: none;
        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
    .prev{
        left: 0;
        border-radius: 0 3px 3px 0;
    }
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    */
    @keyframes fadeInRight {
        0% {
            opacity: 0;
            transform: translateX(-100%);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .fadeInRight {
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .circlular {
        height: 300px;
        margin: auto;
        margin-top: 30px;
        width: 90%;
        display: flex;
        text-align: center;
        justify-content: center;

        .single {
            margin: -20px;
            width: 200px;
            height: 200px;

            border: none;
            outline: none;
            position: relative;


            img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 100%;
                height: 100%;
            }
        }

        .circle {

            margin: 40px;
            width: 200px;
            height: 200px;

            border: none;
            outline: none;
            position: relative;


            img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 100%;
                height: 100%;
            }
        }

        :nth-child(2),
        :nth-child(3) {
            margin-top: -20px;
        }
    }
}

.lymoon-product-slider-bottom {
    position: relative;
    z-index: 801;
    margin-top: -80px;
    padding-bottom: 60px;

    .lymoon-title {
        color: $green-darken-3;
        margin-bottom: 30px;
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 0px;
        width: 30px;
        height: 30px;
        padding: 5px;
        margin: auto;
        color: black;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        user-select: none;
    }

    .prev {
        left: 15vw;
        border-radius: 0 3px 3px 0;
    }

    /* Position the "next button" to the right */
    .next {
        right: 15vw;
        border-radius: 3px 0 0 3px;
    }
}

footer {
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    header {
        position: relative;
        height: auto;
        background-color: white;

        .lymoon-nav {
            position: static;
            height: 80px;
            opacity: 0;
        }

        .slider {
            position: static;
        }
    }

    .lymoon-carousel {
        margin-top: 0;
    }

    .lymoon-product-slider {
        height: 200px;

        &::after {
            margin-top: 40px;
        }

        .circlular {
            .single {
                margin: -25px;
                height: 80px;
                width: 80px;
            }

            .circle {
                margin: 7px;
                height: 60px;
                width: 60px;
            }

            :nth-child(2),
            :nth-child(3) {
                margin-top: -10px;
            }
        }
    }
}

@media (min-width: 600px) and (max-width: 992px) {
    .lymoon-product-slider {
        height: 260px;

        &::after {
            margin-top: 60px;
        }

        .circlular {
            .single {
                margin: -20px;
                height: 150px;
                width: 150px;
            }

            .circle {
                margin: 15px;
                height: 100px;
                width: 100px;
            }

            :nth-child(2),
            :nth-child(3) {
                margin-top: -10px;
            }
        }
    }

}

@media (min-width: 968px) and (max-width: 1200px) {
    .lymoon-product-slider {
        height: 320px;

        &::after {
            margin-top: 80px;
        }

        .circlular {
            .single {
                margin: -20px;
                height: 60px;
                width: 60px;
            }

            .circle {
                margin: 30px;
                height: 180px;
                width: 180px;
            }

            :nth-child(2),
            :nth-child(3) {
                margin-top: -10px;
            }
        }
    }

}

@media (min-width: 1400px) and (max-width: 2000px) {
    .lymoon-product-slider-bottom {
        .prev {
            left: 20vw;
        }

        .next {
            right: 20vw;
        }
    }
}